:root {
    --d4djPurple: #BD41F5;
    --musePink: #FB4192;
    --aqoursBlue: #4CC4FF;
    --nijiOrange: #F39800;
    --liellaPurple: #8C4794;
    --hasuPeach: #FA92A3;
    /* boring defs */
    --containerColor: #f0f0f0;
    --linkColor: #2779F6;
}